<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
  </startup>
  <appSettings>
    <add key="GoogleURL" value="https://www.googleapis.com/customsearch/v1?key={0}&amp;cx={1}&amp;q={2}"/>
    <add key="BingURL" value="https://api.cognitive.microsoft.com/bing/v7.0/search"/>
    <add key="GoogleAPIKey" value="AIzaSyBzuhbttW1OatH3IKW6Mzoqc929obSl9mo"/>
    <add key="GoogleCEKey" value="002950162241673005865:ebnaip5z2pq"/>
    <add key="BingKey" value="97f280ede9df4eefa9bb0f8d4171a87a"/>
  </appSettings>
</configuration>